body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

#map {
    position: relative;
    z-index: 0;
}

.c-topbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 62px;
    background-color: #14213D;
    opacity: .8;
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.c-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #14213D;
    opacity: .8;
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: space-between;
    gap: 65px;
    padding-top: 15px;
}

.c-overlay_countdown {
    padding-top: 200px;
}

.c-overlay_content {
    padding-top: 200px;
}

.c-countdown {
    margin-top: 0;
    opacity: 100%;
    color: white;
    font-weight: normal;
    font-size: 55px;
    text-shadow:
        2px 4px 0px #FCA311;
}

.c-yellowtext {
    margin-top: 0;
    opacity: 100%;
    color: white;
    font-weight: normal;
    font-size: 38px;
    text-shadow:
        2px 4px 0px #FCA311;
}

.c-countdown_text {
    font-weight: normal;
    font-size: 28px;
}

.c-overlay_topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding-top: 10px;
}


.c-logo {
    max-height: 35px;
}

.c-button_close {
    border: #FCA311 solid 1px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #FCA311;
    font-size: 20px;
    font-weight: bold;
    background-color: #14213D;
    opacity: .9;
}

.c-map_time {
    font-weight: normal;
    font-size: 20px;
}

.c-time_img_btn {
    margin-right: 10px;
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 1;
    background-color: #14213D;
    padding: 15px;
    border-radius: 0px 4px 4px 0px;
}

.c-stat_key {
    font-weight: normal;
    font-size: 20px;
}

.c-stat_value {
    font-weight: normal;
    font-size: 20px;
    color: #FCA311;
}

.c-map_location_time {
    position: absolute;
    top: 72px;
    left: 10px;
    z-index: 1;
    background-color: #14213D;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.c-map_location_time__text {
    font-size: 12px;
    font-weight: normal;
}

.c-map_location_time__time {
    font-size: 24px;
    font-weight: medium;
}

.u-hidden {
    visibility: hidden;
}

.u-showing {
    visibility: visible;
}